dj_rest_auth== 3.0.0
django-allauth==0.52.0
django-cors-headers==3.13.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
virtualenv==20.34.0
mysqlclient==2.2.7
dotenv==0.9.9
pymysql==1.1.2
reportlab==4.4.4
mailersend==2.0.0